build/*
!build/.gitkeep
build/home/.nix-portable/
volumes/*
!volumes/.gitkeep
!volumes/models/
!volumes/models/**
deps/*
!deps/.gitkeep
env/*/.flox/
.flox/*
!.flox/env.json
!.flox/env/
.flox/env/*
!.flox/env/manifest.toml
**/.build/
**/.venv/
**/.dist/
*.log
.DS_Store
